@tailwind base;
@tailwind components;
@tailwind utilities;

.radio-buttons input[type="radio"] {
    display: none;
}

.radio-custom {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.radio-buttons input[type="radio"]:checked + .radio-custom {
    background-color: black;
    border: 2px solid black;
}


